@import '../../../../assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border: $main-border;
  border-radius: 15px;
  padding: 10px;
}

.accordion {
  &__header {
    display: flex;
    border-bottom: $main-border;
  }
}