
/* Text variables */
$text-font: 'Arimo', sans-serif;
$text-color: #444;
$text-color-contrast: #fff;

/* Background variables */
$background-color: #777;

/* Border variables */
$main-border: 1px solid rgb(68, 68, 68);
